.body {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%
    }
.title {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    page-break-before: always;
    text-align: center;
    width: 90%
    }
.word_table {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0;
    width: 90%
    }
.word_table_body {
    display: table-row-group;
    vertical-align: middle
    }
.word_row {
    display: table-row;
    vertical-align: inherit
    }
.words_langs {
    display: table-cell;
    font-weight: bold;
    padding-bottom: 1px;
    padding-left: 1em;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    vertical-align: inherit;
    width: 49%
    }
.word {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1em;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
